
<%-include('./partials/upper.ejs')%>
<%-include('./partials/bootstrap.ejs')%>

<title>Avaliable Courses</title>
</head>

<body>
    <div class="chart"> <%config%></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js" integrity="sha512-TW5s0IT/IppJtu76UbysrBH9Hy/5X41OTAbQuffZFU6lQ1rdcLHzpU5BzVvr/YFykoiMYZVWlr/PX1mDcfM9Qg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


</body>

</html>